
.carousel-inner {
  width: 39rem;
  height: 39rem;
}

.carouselslide {
  width: 95%;
  height: 95%;
  border-radius: 15px;
  box-shadow: 18px -8px 26px -2px rgba(35, 53, 9, 0.75);
}

.departamentos {
  display: grid;
  grid-template-areas:
    "titulo1 titulo1 titulo1"
    "parrafo1 parrafo1 parrafo1"
    "parrafo2 parrafo2 parrafo2"
    "parrafo3 parrafo3 parrafo3"
    "parrafo4 parrafo4 parrafo4"
    "parrafo5 parrafo5 parrafo5"
    "dpto1 dpto1 dpto1"
    "foto1 foto1 parrafo7"
    "foto1 foto1 parrafo7"
    "dpto2 dpto2 dpto2"
    "foto2 foto2 parrafo8"
    "foto2 foto2 parrafo8"
    ;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: repeat (12,100px);
  justify-content: center;
  /* eje horizontal*/
  justify-items: center;
  /*eje  vertical*/
  align-items: center;
  
}
.requisitos {
  grid-area: titulo1;
}
.p1 {
  grid-area: parrafo1;
}
.p2 {
  grid-area: parrafo2
}
.p3 {
  grid-area: parrafo3;
}
.p4 {
  grid-area: parrafo4;
}
.p5 {
  grid-area: parrafo5;
  margin-bottom: 50px;
}
.avenidatitulo {
  grid-area: depto1;
  text-align: center;
  margin-bottom: 50px;
}
d-block w-50 {
  grid-area: foto1;
  margin-bottom: 50px;
}
.avenidaparrafo {
  grid-area:parrafo7;
  margin-bottom: 50px;

}
.alfarotitulo{
  grid-area: foto2;
  text-align: center;
  margin-bottom: 20px;
  
}


.alfaroparrafo {
  grid-area: parrafo8;
}


d-block w-51 {
  grid-area: foto2;
}


@media (max-width:480px){

}

