.text-focus-in, p{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;

}
.text-focus-in {
	-webkit-animation: text-focus-in 6s 2 ;
	        animation: text-focus-in 6s 2 ;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
.google {
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 0 0 20px rgba($color: #541e1e, $alpha: 1.0);
    border-radius: 20px;
}

.formulario {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
form {
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba($color: #541e1e, $alpha: 1.0);
    border-radius: 20px;
    text-align: center;
    width: 400px;
}
.input-grup {
    display: flex;
    flex-direction: column;
    text-align: centers;
}
h2 {
    color: black;
    font-size: 20px;
    margin-bottom: 20px;
}
label {
    color: black;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 15px;
}
/*input, textarea pongo la coma para que afecte a los dos*/
input, textarea {
     padding: 17px 25px;
/*con el padding le doy un borde al formulario*/
    border-radius: 25px;
    margin-bottom: 20px;
    /*margin-botton lo pongo para que me deje un espacio entre lineas*/
    background-color:  #e4dddd ;
    border: 2px solid #541e1e;
    outline: none;
    /*outline le estoy diciendo al sistma que no me ponga las lineas de los rectangulos*/
}
 .btn {
    font-size: 16px;
    color: white;
    border-radius: 15px;
    background-color:#a44444 ;
    box-shadow: 0 0 20px rgba($color: #541e1e, $alpha: 1.0);
    cursor: pointer;
 }

@media (max-with:800px) {
  h2 {
     margin-bottom: 15px;
  }
 .formulario {
    padding: 30px;
    min-height: 80vh;
  }
  form {
    padding: 50px 30px;
    width: 100%;
  }
  input {
    padding: 15px;
  }
 
}
















