/*footer*/
.footer {
  background-color: red;
  height: 100px;
  display: flex;
  justify-content: space-between;
  margin: 3px;

  .logowhatsapp {
    width: 70px;
    height: 70px;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }

  .finaer {
    width: 200px;
    height: 80px;
    position: fixed;
    bottom: 15px;
    left: 20px;
    box-shadow: 22px -19px 31px 0px rgba(0, 0, 0, 0.75);
  }
  
}
@media (max-width:480px){

}



