
@import url(https://fonts.google.com/share?selection.family=Roboto:ital,wght@0,100..900;1,100..900);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
header {
    background-color: red;
    display: flex;
    justify-content: space-between;
    margin: 3px;
    nav {
      width: 50%;
      ul {
        height: 150px;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 5%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
      }
    }
    .logo{
      margin: 20px 10px;
        border: 5px solid sienna;
        display: flex;
        flex-direction: row;
      }
  }
    @media (max-width:480px) {
      nav {
      width: 100%;
      ul {
        height: 150px;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 5%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
      }
    }
.logo {
        width: 10px;
        height: 10px;
}
.logo{
        display: flex;
        flex-direction: row;
        margin: 5px 5px;
        border: 5px solid sienna;
      }
    }

     

